<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.guesthouse.roi.ReserveModel">
	<resultMap type="net.guesthouse.roi.dto.model.ReserveModel"
		id="ReserveModel">
		<id column="id" property="id" />
		<result column="rtype" property="rType" />
		<result column="reserve_date" property="reservDate" />
		<result column="room_no" property="roomNo" />
		<result column="chkin" property="chkin" />
		<result column="nights" property="nights" />
		<result column="reserver" property="reserver" />
		<result column="rname" property="rName" />
		<result column="pay_per_day" property="payPerDay" />
		<result column="payment" property="payment" />
		<result column="deposit" property="deposit" />
		<result column="balance" property="balance" />
		<result column="via" property="via" />
	</resultMap>
	<resultMap type="net.guesthouse.roi.dto.model.RoomModel" id="RoomModel">
		<id column="id" property="id" />
		<result column="room_no" property="roomNo" />
		<result column="chkin" property="chkin" />
		<result column="nights" property="nights" />
	</resultMap>

	<sql id="baseColumns">
		id,rtype,reserve_date,room_no,chkin,nights,reserver,pay_per_day,payment,deposit,balance,via
	</sql>

	<insert id="insertReserve" parameterType="net.guesthouse.roi.dto.model.ReserveModel">
		/*insertReserve*/
		insert into reserve (
		rtype,reserve_date,room_no,chkin,nights,reserver,pay_per_day,payment,deposit,balance,via
		)
		values(
		#{rType},
		#{reservDate},
		#{roomNo},
		#{chkin},
		#{nights},
		#{reserver},
		#{payPerDay},
		#{payment},
		#{deposit},
		#{balance},
		#{via}
		)
	</insert>

	<update id="updateDeposit" parameterType="net.guesthouse.roi.dto.model.ReserveModel">
		/*updateDeposit*/
		update reserve
		set deposit = #{deposit}
		where id = #{id}
	</update>
	
	<update id="updateReserve" parameterType="net.guesthouse.roi.dto.model.ReserveModel">
		/*updateDeposit*/
		update reserve
		<set>
			<if test="rType!= null">rtype = #{rType},</if>
			<if test="reservDate!= null">reserve_date = #{reservDate},</if>
			<if test="roomNo!= null">room_no = #{roomNo},</if>
			<if test="chkin!= null">chkin = #{chkin},</if>
			<if test="nights!= null">nights = #{nights},</if>
			<if test="payPerDay!= null">pay_per_day = #{payPerDay},</if>
			<if test="payment!= null">payment = #{payment},</if>
			<if test="deposit != null">deposit = #{deposit},</if>
			<if test="balance != null">balance = #{balance},</if>
			<if test="via != null">via = #{via},</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="deleteReserve" parameterType="net.guesthouse.roi.dto.model.ReserveModel">
		/*deleteReserve*/
		delete from reserve where id = #{id} 
	</delete>

	<select id="selectReserve" parameterType="net.guesthouse.roi.dto.model.ReserveModel"
		resultMap="ReserveModel">
		/*selectReserve*/
		select
		<include refid="baseColumns"/>
		from reserve
		where chkin &gt;= #{chkin}
	</select>
	
	<select id="selectReserveById" parameterType="net.guesthouse.roi.dto.model.ReserveModel"
		resultMap="ReserveModel">
		/*selectReserveById*/
		select
		r.*,
		rr.rname
		from reserve r join reserver rr on r.reserver = rr.id
		where
		r.id = #{id}
	</select>

	<select id="selectReserveList" parameterType="net.guesthouse.roi.dto.model.DashboardTimeModel"
		resultMap="ReserveModel">
		/*selectReserveList*/
		select
		r.*,
		rr.rname
		from reserve r join reserver rr on r.reserver = rr.id
		where chkin &gt;= #{start}
		and chkin &lt; #{end}
	</select>

	<select id="selectCalender" parameterType="net.guesthouse.roi.dto.model.DashboardTimeModel"
		resultMap="ReserveModel">
		/*selectCalender*/
		select
		r.id, r.chkin, r.room_no, r.nights, rr.rname
		from reserve r join reserver rr on r.reserver = rr.id
		where chkin &gt;= #{start}
		and chkin &lt; #{end};

	</select>

</mapper>